<launch>

<arg name="right_glove_ns" default="captoglove_right"/>
<arg name="left_glove_ns" default="captoglove_left"/>


<group ns="$(arg left_glove_ns)">
	<remap from="/captoglove_left/servo" to="/leftservo_recorded" />
   <node pkg="captoglove_ros_wrapper" name="captoglove_left_node" type="captoglove_ros_wrapper_node" output="screen"
        args="-c $(find captoglove_ros_wrapper)/include/config_left.ini">
   </node>

</group>



<!-- <group ns="$(arg right_glove_ns)">
	<remap from="/captoglove_right/servo" to="/rightservo" />
   <node pkg="captoglove_ros_wrapper" name="captoglove_right_node" type="captoglove_ros_wrapper_node" output="screen"
        args="-c $(find captoglove_ros_wrapper)/include/config_right.ini">
   </node> 

</group>  -->

</launch>



