<?xml version="1.0"?>
<launch>
  <!-- Launch an example that sends commands via C++ API. -->

  <!-- moveit servoing -->
  <!-- <node name="moa_left_servoing" pkg="moa_servoing" type="pose_tracking" output="screen" >
    <rosparam command="load" file="$(find moa_servoing)/config/moa_left_servoing_settings.yaml" />
    <rosparam command="load" file="$(find moa_servoing)/config/moa_left_pose_tracking.yaml" />
  </node>

  <node name="target_publisher_moa_left" pkg="ndx_util" type="tf_router" output="screen" >
    <param name="tf_name" type="string" value="left_arm_trajectory" />
    <param name="tf_parent" type="string" value="map" />
    <param name="output_topic" type="string" value="/moa_left_servoing/target_pose" />
  </node> -->

  <!-- <node name="moa_left_servoing" pkg="moa_servoing" type="servoing" output="screen" /> -->

    <!-- <param name="tf_name" type="string" value="target" /> -->
  <node name="target_publisher_moa_left" pkg="ndx_util" type="tf_router" output="screen" >
    <param name="tf_name" type="string" value="polhemus_station_3" />
    <param name="tf_parent" type="string" value="map" />
    <param name="output_topic" type="string" value="/left_wrist_pose" />
    <param name="publish_ts_msg" type="bool" value="false" />
  </node>

  
    <!-- <param name="tf_name" type="string" value="elbow_target" /> -->
  <node name="target_publisher_moa_left_elbow" pkg="ndx_util" type="tf_router" output="screen" >
    <param name="tf_name" type="string" value="polhemus_station_2" />
    <param name="tf_parent" type="string" value="map" />
    <param name="output_topic" type="string" value="/left_elbow_pose" />
    <param name="publish_ts_msg" type="bool" value="false" />
  </node>

  <node name="target_publisher_moa_left_palm" pkg="ndx_util" type="tf_router" output="screen" >
    <param name="tf_name" type="string" value="polhemus_station_1" />
    <param name="tf_parent" type="string" value="map" />
    <param name="output_topic" type="string" value="/left_palm_pose" />
    <param name="publish_ts_msg" type="bool" value="false" />
  </node>

  <!-- <node name="polhemus2servoing_target" pkg="tf2_ros" type="static_transform_publisher" output="screen" args="0 0 0 0 0 0 polhemus_station_5 target" />
  <node name="polhemus2servoing_target" pkg="tf2_ros" type="static_transform_publisher" output="screen" args="0 0 0 0 0 0 polhemus_station_4 target" /> -->

</launch>
